grafana:
  default:
    host: http://3.111.71.74:3000
    api_key: glsa_CN7ccGieNDS0SlZyQroPMf1kflCmBJ1D_aa6cfba9

grafana-reporter:
  check-for-updates: 1
  report-class: GrafanaReporter::Asciidoctor::Report
  templates-folder: ./templates
  reports-folder: ./reports
  report-retention: 24
  webservice-port: 8815
default-document-attributes:
  imagesdir: ./images
